<form 
    [formGroup]="form" 
    ngxsForm="createProposal.form"
    (ngSubmit)="submitForm()"
>
    <span class="ui-float-label">
        <input 
            id="name"
            type="text"
            formControlName="name"
            pInputText
        />
        <label for="name">Name</label>
    </span>
    <label>
        Main picture:
        <app-upload-file formControlName="mainPictureUrl"></app-upload-file>
    </label>
    <span class="ui-float-label">
        <textarea
            id="introText"
            formControlName="introText"
            rows="5"
            cols="100"
            pInputTextarea
        ></textarea>
        <label for="introText">Intro text</label>
    </span>
    <span class=ui-float-label>
        <textarea
            id="body-text"
            formControlName="bodyText"
            rows="30"
            cols="100"
            pInputTextarea
        ></textarea>
        <label for="body-text">Body text</label>
    </span>

    <label for="is-openned">
        Openned: 
    </label>
    <p-inputSwitch inputId="is-openned" formControlName="isOpenned"></p-inputSwitch>
    <br/>
    <p-button 
        [disabled]="form.invalid"
        label="Submit" 
        type="submit"
    ></p-button>
</form>