<ng-container *veeLet="proposal$ | async as proposal">
<ng-container *ngIf="proposal != null">
<ng-container *veeLet="client$ | async as client">
<ng-container *veeLet="canClientUpdateProposal(client, proposal.creator.login) as isUpdateEnabled">

<p-card>
    <p-header>
        <app-proposal-details-header
            [proposalName]="proposal.name"
            [isUpdateEnabled]="isUpdateEnabled"
        ></app-proposal-details-header>
    </p-header>
    <article>
        <figure>
            <img 
                [src]="proposal.mainPictureUrl"
                class="main-picture"
            />
        </figure>
        <p-card>
            <markdown [data]="proposal.introText"></markdown>
        </p-card>
        <app-proposal-details-body-text
            [proposalBodyText]="proposal.bodyText"
            [isUpdateEnabled]="isUpdateEnabled"
        ></app-proposal-details-body-text>
    </article>
    <p-footer>
        <p-button
            [label]="proposal.likes.toString()"
            [styleClass]="getRatingButtonClasses(proposal.myRating, true)"
            [disabled]="client == null"
            (onClick)="rateProposal(true)"
            icon="far fa-thumbs-up"
        ></p-button>
        <p-button
            [label]="proposal.dislikes.toString()"
            [styleClass]="getRatingButtonClasses(proposal.myRating, false)"
            [disabled]="client == null"
            (onClick)="rateProposal(false)"
            icon="far fa-thumbs-down"
        ></p-button>
    </p-footer>
</p-card>

</ng-container>
</ng-container>
</ng-container>
</ng-container>

