<form
    [formGroup]="form"
    (ngSubmit)="fetchPage();"
    class="p-grid"
>
    <div
        formGroupName="filter"
        class="p-col-8"
    >
        <div class="ui-inputgroup">
            <button 
                type="submit" 
                label="Search"
                class="ui-button-raised ui-button-primary"
                icon="pi pi-search"
                pButton
            ></button>
            <input 
                [formControl]="searchQuery"
                placeholder="Type here to search..."
                type="text"
                pInputText
            >  
            <p-dropdown 
                [options]="filterOptions"
                formControlName="key"
                placeholder="Select filter key"
                optionLabel="label"
            ></p-dropdown>       
        </div>
    </div>
    <div 
        formGroupName="sort"
        class="p-col-4 p-grid p-align-right"
    > 
        <div class="p-col">
            <p-dropdown
                [options]="sortOptions"
                formControlName="key"
                placeholder="Select sort key"
                optionLabel="label"
            ></p-dropdown>
        </div>
        <p-toggleButton
            class="p-col"
            onLabel="Ascending"
            offLabel="Descending"
            offIcon="pi pi-sort-down"
            onIcon="pi pi-sort-up"
            formControlName="isAscendingOrder"
        ></p-toggleButton>
    </div>
</form>