<form
    [formGroup]="form"
    [ngxsForm]="getNgxsFormName()"
    (ngSubmit)="updateCurrentPageImmediate()"
>
    <fieldset *ngIf="form.get('filter') != null" 
        formGroupName="filter"
        class="ui-inputgroup"
    >
        <button 
            type="submit" 
            label="Search"
            pButton 
        ></button>
        <input 
            placeholder="Type here to search..."
            (keyup)="updateCurrentPageDebounced()"
            (keyup.enter)="updateCurrentPageImmediate()"
            type="text" 
            formControlName="value"
            pInputText
        >  
        <p-dropdown 
            [options]="filterOptions" 
            formControlName="key"
            placeholder="Filter by {{filterOptions[0].label}}"
            optionLabel="label"
        ></p-dropdown>       
    </fieldset>
    <fieldset *ngIf="form.get('sort') != null"
        formGroupName="sort"
    > 
        <p-dropdown
            [options]="sortOptions"
            formControlName="key"
            placeholder="Sort by {{sortOptions[0].label}}"
            optionLabel="label"
        ></p-dropdown>
        
        <label>
            Order: 
            <p-toggleButton
                onLabel="Ascending"
                offLabel="Descending"
                onIcon="pi pi-sort-up"
                offIcon="pi pi-sort-down"
                formControlName="isAscendingOrder"
            ></p-toggleButton>
        </label>
    </fieldset>
</form>