<ng-container *veeLet="isFetchingClient$ | async as isFetchingClient">

<form
    [formGroup]="form"
    (ngSubmit)="submitForm()"
    class="form"
    ngxsForm="signIn"
    
>
    <span class="ui-float-label text-input">
        <input 
            [maxlength]="limits.user.login.max - 1"
            [minlength]="limits.user.login.min"
            id="login"
            class="text-input__element"
            formControlName="login" 
            type="text"
            required
            pInputText
        />
        <label for="login">Login</label>
    </span>
    
    <span class="ui-float-label text-input">
        <input 
            [maxlength]="limits.user.password.max - 1"
            [minlength]="limits.user.password.min"
            id="password"
            class="text-input__element"
            formControlName="password" 
            type="password"
            pPassword
            required
        />
        <label for="password">Password</label>
    </span>

    <button 
        [disabled]="form.invalid || isFetchingClient"
        class="submit-button"
        type="submit"
        label="Sign in"
        pButton
    >
    </button>
</form>

</ng-container>