<h1>Sign in component</h1>
<form
    [formGroup]="form"
    (ngSubmit)="submitForm()"
    class="sign-in-form"
    ngxsForm="signIn"
    
>
    <label>
        Login: 
        <input 
            [maxlength]="limits.user.login.max - 1"
            [minlength]="limits.user.login.min"
            formControlName="login" 
            type="text"
            required
        />
    </label>

    <label>
        Password: 
        <input 
            [maxlength]="limits.user.password.max - 1"
            [minlength]="limits.user.password.min"
            formControlName="password" 
            type="password"
            pPassword
            required
        />
    </label>

    <button 
        [disabled]="form.invalid"
        class="submit-button" 
        type="submit"
    >
        Sign in
    </button>
</form>