<ng-container *veeLet="{ 
        totalRecords: total$  | async,
        rows:         limit$  | async,
        first:        offset$ | async
    } as opts"
>
<app-pagination-settings [state]="PaginationState"></app-pagination-settings>
<ng-container *ngIf="opts.totalRecords != null; else elsePageNotLoaded">
    <ng-content></ng-content>
    <p-paginator
        [totalRecords]="opts.totalRecords"
        [rows]="opts.rows"
        [first]="opts.first"
        [alwaysShow]="true"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
        (onPageChange)="updateLimitAndOffset($event.rows, $event.first)"
    ></p-paginator>
</ng-container>
<ng-template #elsePageNotLoaded>
    <p-progressSpinner></p-progressSpinner>
</ng-template>
<!-- <mat-paginator #paginator
    [length]         ="dataPage!.total"
    [pageSize]       ="pagination.limit"
    [pageIndex]      ="pagination.page - 1"
    [pageSizeOptions]="pageSizeOptions"
    (page)="
        doSearchRequest({
            page:  $event.pageIndex + 1,
            limit: $event.pageSize
        });
    "
    color="primary"
    showFirstLastButtons="showFirstLastButtons"
></mat-paginator> -->

</ng-container>
