<ng-container *veeLet="{ 
        totalRecords: total$  | async,
        rows:         limit$  | async,
        first:        offset$ | async
    } as opts"
>
<app-pagination-settings 
    [state]="state"
    [filterKeys]="filterKeys"
    [sortKeys]="sortKeys"
></app-pagination-settings>
<ng-container *ngIf="opts.totalRecords != null; else elsePageNotLoaded">
    <ng-content></ng-content>
    <p-paginator
        [totalRecords]="opts.totalRecords"
        [rows]="opts.rows"
        [first]="opts.first"
        [alwaysShow]="true"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
        (onPageChange)="updateLimitAndOffset($event.rows, $event.first)"
    ></p-paginator>
</ng-container>
<ng-template #elsePageNotLoaded>
    <p-progressSpinner></p-progressSpinner>
</ng-template>

</ng-container>
