<ng-container *veeLet="client$ | async as client">

<p-toolbar>
    <p-button 
        label="QueryBuilder"
        routerLink="/"
        styleClass="ui-button-raised ui-button-secondary"
    ></p-button>

    <p-button *appIfClientRole="[UserRole.Guest]; else elseForNotGuest"
        label="Sign in"
        routerLink="/sign-in"
        styleClass="ui-button-raised ui-button-primary-"
    ></p-button>
    <ng-template #elseForNotGuest>
        <p-button 
            (click)="signOut()"
            label="Sign out"
            styleClass="ui-button-raised ui-button-warning"
        ></p-button>
    </ng-template>
    ClientName: {{ client?.name }}
</p-toolbar>

</ng-container>