<ng-container *veeLet="client$ | async as client">
<ng-container *veeLet="isAwaitingResponses$ | async as isAwaitingResponses">

<div class="p-grid p-nogutter">
    <p-toolbar class="p-col-12">
        <p-button 
            label="QueryBuilder"
            routerLink="/"
            styleClass="ui-button-raised ui-button-secondary"
        ></p-button>

        <p-button
            label="Proposals"    
            routerLink="/proposals"
            styleClass="ui-button-raised ui-button-primary"
        ></p-button>

        <p-button *appIfClientRole="proposalsRouteMap.getRoleLimitFor('proposals/create')"
            routerLink="proposals/create"
            label="Create proposal"
            styleClass="ui-button-raised ui-button-success"
        ></p-button>
        <p-button
                routerLink="/developer"
                label="API docs"
                styleClass="ui-button-raised ui-button-secondary"
        ></p-button>

        <ng-container *appIfClientRole="authRouteMap.getRoleLimitFor('sign-in'); else elseForNotGuest">
            <p-button 
                routerLink="/sign-in"
                label="Sign in"
                styleClass="ui-button-raised ui-button-primary"
            ></p-button>
            <p-button *appIfClientRole="authRouteMap.getRoleLimitFor('sign-up')"
                routerLink="/sign-up"
                label="Sign up"
                styleClass="ui-button-raised ui-button-primary"
            ></p-button>
        </ng-container>
        <ng-template #elseForNotGuest>
            <p-button 
                (click)="signOut()"
                label="Sign out"
                styleClass="ui-button-raised ui-button-warning"
            ></p-button>
        </ng-template>

    </p-toolbar>
    <p-progressBar
        [mode]="isAwaitingResponses ? 'indeterminate' : 'determinate'"
        [showValue]="false"
        class="p-col-12"
        styleClass="inner-progress-bar"
        value="100"
    >
    </p-progressBar>
</div>


</ng-container>
</ng-container>